<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body>


<p>
  <strong>Hey there, 
  <%= @people.Name %> !
  </strong>
</p>
<p> Thanks for logging in! Now let the fun begin! Please choose what you would like to do first! </p>

<p>
 
</body>