<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>

  .left
  {
  	float:left;
  	width: 50%;
  }

  .right
  {
  	float:right;
  }

  .center p
  {
  	font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight:normal;
  }

  h2,h3,h4
  {
    text-align:center;
  }

  .center
  {

    margin:auto;
    width:70%;
    border: 3px solid gray;
    padding: 10px;
  }

  </style>


</head>

<body>

<h1> Resilience: A Roman Emperor vs Budding Engineers <br> ★★★★☆ </h1>


<h2><b><i>A book review and assessment of resilience in Meditations by Marcus Aurelius </i></b> </h2>
<h3> Non - Fiction <h3>



<div class="center">
<p>
In his personal writings, which were probably never intended to be published, Marcus Aurelius offers readers stoic wisdom that has been claimed to be far beyond its time. Written between 161 and 180 AD, Meditations is a collection of Marcus Aurelius’ personal thoughts on his own self-guidance and self-improvement, and his interpretations of the stoic philosophy. It can also be said that the book is a useful teaching element for understanding the benefits, needs and definitions of everyday resilience and therefore an aid to budding engineers. 
</p>

<p>
Before we delve into the review of this piece, it is important to grasp a simple understanding of the Stoic philosophy, as it developed Marcus Aurelius’ way of thinking and, ultimately, the single passages in Meditations. Founded in Athens by Zeno of Citium, Stoicism is a philosophy of personal awareness and ethics formed by one’s logic and view on the world. You could argue that stoicism was a very early (3rd century BC) way of practicing resilience day to day to overcome minor and major obstacles and lead a good life. Thus making Meditations an early medieval ‘self-help’ novel. Taking on a stoic way of thinking means to accept life and responsibilities for what they are and endure pain and hardship without complaint. It also teaches that we as individuals cannot control or rely on outside events and encounters, only ourselves and our responses. It sounds brutal but it is in fact, resilience; taking bad things for what they are, accepting them and recovering by moving forward quickly and getting on with things. 
</p>

<p>
Marcus’ book consists of a series of passages that vary between single sentences and whole paragraphs that were written each night before he went to sleep, loosely put together in 12 books. There is no real format to the piece, it is rather a collection of thoughts and reminders Marcus Aurelius noted down, collected over a range of 170 – 415 pages, dependent on which translation you get your hands on. This can be annoying to some readers due to the jump around in themes, but for others it makes Meditations an easy to understand novel that requires no real commitment and can be opened on any page. However, there comes a sense of refreshment when reading through Meditations due to the nature of the varying sentences and paragraphs of Meditations, such that they seem to be mantras or speculations intended to remind Aurelius of his chosen way of thinking. It gives readers a more personal perspective on the book; almost as though it were a diary never meant to be read. This in itself makes the book more attractive as you are left feeling you have managed to delve into the head of an incredibly praised and followed individual.  
</p>

<p>
Although there is no real order these pages follow, the same ideas continuously keep popping out throughout the sentences. Which we can only assume means that these were most important to Aurelius, and that philosophies are formed from a repetition of thought, hence reminding ourselves why our chosen actions and reactions are important to our valued way of living. After reading the book, the main themes we got out of them were...
The way we respond to criticism directly determines how we feel about the criticism 

In his personal writings, which were unlikely intended to ever be published, Marcus Aurelius offers readers stoic wisdom that has been claimed to be far beyond its time. Written between 161 and 180 AD, Meditations is a collection of Marcus Aurelius’ personal thoughts on his own self-guidance and self-improvement, and his interpretations of the stoic philosophy. It can also be said that the book is a useful teaching element for understanding the benefits, needs and definitions of everyday resilience and therefore an aid to budding engineers.
</p>



<p><i><center>
“If you are distressed by anything external, the pain is not due to the thing itself, but to your estimate of it; and this you have the power to revoke at any moment.”
</center></i></p>

<p><i><center>
“It is a ridiculous thing for a man not to fly from his own badness, which is indeed possible, but to fly from
other men’s badness, which is impossible.”
</center></i></p>

<p><i><center>
“Whenever you are about to find fault with someone, ask yourself the following question: What fault of
mine most nearly resembles the one I am about to criticize?”
</center></i></p>

<p>

Criticism is tough. We all receive it, because none of us are perfect. Even if we were, we would be condemned for being perfect. But Meditations highlights that it isn’t the criticism that makes us want to curl up in a ball and cry but rather our response to it, Criticism is usually met with either defence, anger or self-pity. Is this a resilient response? Marcus says no. We can choose to take criticism this way or we can assess the validity of the response and gain some perspective on someone’s opinion. And recall it is just that – someone’s opinion. We can choose to take the criticism under our belt and use it to better ourselves.  
</p>

<p>
This is resilience, taking something negative and learning from it but most importantly, moving on. This is also stoicism. Meditations shares with us this wisdom, which is not only worthwhile executing when you are a roman emperor, but also when that idea you suggested to the group didn’t go down so well. Marcus Aurelius implies in his writings that resilience is very clearly not only formed from extremely traumatic events, but also in the day to day struggles we all face. 

Criticism is tough. We all receive it andbecause none of us are perfect. and even if we were, we would be condemned for being perfect. But Meditations highlights that it isn’t the criticism that makes us want to curl up in a ball and cry but rather our response to it – we know, why can’t something ever be someone else’s responsibility? Criticism is sometimesusually met with either defense, anger or self-pity. Is this a resilient response? Marcus says
no. We can choose to take criticism this way or we can assess the validity of the response and gain some perspective on someone’s opinion. And recall it is just that – someone’s opinion. We can choose to take the criticism under our belt and use it to better ourselves. 
</p>


<p>
We have power over our mind, not things outside of it.
</p>

<p><i><center>
“The soul becomes dyed with the colour of its thoughts.”
</center></i></p>

<p><i><center>
“You always own the option of having no opinion. There is never any need to get worked up or to trouble your soul about things you can't control. These things are not asking to be judged by you. Leave them alone.” </i>
</center></i></p>

<p>

  

Basically, we have two boxes:, things we can control;, and things we cannot control. We should only be actively trying to maintain a lid on the first box as Aurelius suggests. What about the second box? Well, Meditations advises that box should be kept in a cupboard within our view so we are aware of it, but nothing should be done to
keep what’s inside of it contained, because it simply can’t be.
It is like stressing over a traffic light being red because we are running late to a meeting. Stress will not change the traffic light or make the driver in front of you drive the speed limit, it will only make us feel worse. It is a hard concept to put into practice, but it is being resilient to actively choose not to waste emotions and time on things we have no power over.Problems are created in the mind.

</p>

<p><i><center>

“Let not future things disturb you, for you will come to them, if it shall be necessary, having with you the same reason which you now use for present things.”

</center></i></p>

<p><i><center>
“The happiness of your life depends upon the quality of your thoughts: therefore, guard accordingly, andtake care that you entertain no notions unsuitable to virtue and reasonable nature.”
</center></i></p>

<p>

This one is an expansion of the second theme we touched on. Meditations teaches that the mindset that created the problem cannot solve it. Success comes from mistakes whereas no success comes from an unwillingness to try due to fear of failure. The desire to try again even when things look bleak comes from a resilient mind, which Marcus Aurelius aided to leading a good life. 
</p>

<p>
If we fail a test and drop out of the subject due to fear of failing another test, we will ultimately never finish the course and never achieve what we set out to do in the first place. It is not the failed test that is stopping us, but rather the mindset we have taken onboard. Meditations teaches us that there is resilience in moving forwards, regardless of our situation. 
</p>

<p>
To summarise, the link between resilience and Marcus Aurelius’ Meditations is very clearly prominent and can teach us how to live resiliently in our day to day lives. The book can be found all over the web in different translations – some even for free! We recommend adding this book to your collection and as Marcus Aurelius would say, just go with it. 

</p>



</div>
</body>
</html>