<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .container 
  {
    position: relative;
    width: 100%;
    
  }

  .container img 
  {
    width: 100%;
    height: auto;
  }

  .container .btn 
  {
    position: absolute;
    top: 48%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container .btn:hover {
    background-color: black;
  }

  .container .btn2
  { 
    position: absolute;
    top: 45%;
    left: 12%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

  }

  .container .btn3
  {
    position: absolute;
    top: 95%;
    left: 12%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

  }

  .container .btn4
  {
    position: absolute;
    top: 95%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

  }

</style>
</head>

<body>
<div class="container-fluid bg-3 text-center">
  <h1>Resilience </h1>
  <div class="container">
   <%= image_tag( 'resilience.jpg', width: '100%' )%>
   <a href="/quizzes"><button class="btn">Personality Quiz</button></a>
   <a href="/podcasts"> <button class="btn2">Podcast</button></a>
   <a href="/quizzes"><button class="btn3">Button</button></a>
   <a href="/bookreview"><button class="btn4">Book Review</button></a>
 
   </div>
</div>

  <br>



</body>
</html>

