<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .container 
  {

    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 2.0em;
    
  }

  .container .btn 
  {
    font-family: Andale Mono, monospace;
    position: absolute;
    top: 48%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container .btn:hover {
    background-color: #555;
  }

  .container .btn2
  { 
    font-family: Andale Mono, monospace;
    position: absolute;
    top: 48%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

  }

  .container .btn3
  {
    font-family: Andale Mono, monospace;
    position: absolute;
    top: 95%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

  }

  .container .btn4
  {
    font-family: Andale Mono, monospace;
    position: absolute;
    top: 95%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

  }

</style>
</head>

<body>
<div class="container-fluid bg-3 text-center">
  <div class="container">
   <%= image_tag( 'resilience.jpg', width: '100%', height: '100%')%>
   <a href="/podcasts"><button class="btn">Podcast</button></a>
   <a href="/quizzes"> <button class="btn2">Quiz</button></a>
   <a href="/bookreview"><button class="btn3">Book Review</button></a>
   <a href="/poems"><button class="btn4">Poem</button></a>
 
   </div>
</div>

  <br>



</body>
</html>

