<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>

<body>
<%= image_tag( 'poem.jpg', width: '100%', height: '100%')%>


</body>
</html>