<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

h2,
#progress-bar #progress,
label,
p,
h1  {
    font-family: 'arial';
    color: white;
}

.fullpage {
    height: 100vh;
    width: 100vw;
}

.black-bg 
{
    background-color: white;
}

.centered 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container 
{
    height: 90vh;
    width: 85vw;
    max-width: 700px;
    padding: 10px;
    background-color: black;
}

#questionaire-title 
{
    margin-top: 20vh;
    margin-bottom: 15vh;
    text-align: center;
}

.hidden 
{
    display: none;
}

.button 
{
    cursor: pointer;
    padding: 0px 20px;
    border: 2px solid cyan;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

.button:hover 
{
    background-color: rgba(255,255,255,0.1);
}

#progress-bar 
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

#progress 
{
    width: 20%;
    text-align: right;
    border-bottom: 2px solid cyan;
    margin-bottom: -2px;
}

.option 
{
    display: flex;
    align-items: center;
    height: 18%;
    margin-top: 6px;
    padding: 2px;
}

.option:hover 
{
    background-color: rgba(255,255,255,0.1);
}

.content 
{
    margin-left: 10px;
    height: 100%;
}


  </style>
</head>

<body>

<div class="fullpage black-bg centered">
        <div class="container start">
            <h1 id="questionaire-title">Are you resilient?</h1>
            <div class="centered">
                <div class="button" onclick="showPage(2); setupQuestion();">
                    <p>START</p>
                </div>
            </div>
        </div>
        <div class="container hidden">
            <h1 id="personality-type"></h1>
            <p id="personality-part-1"></p>
            <p id="personality-part-2"></p>
            <p id="personality-recommended"></p>
            <br>
            <div class="centered">
                <div class="button" onclick="showPage(0); setupQuestion();">
                    <p>Restart</p>
                </div>
            </div>
        </div>
        <div class="container hidden">
            <div id="progress-bar">
                <div id="progress">1/5</div>
            </div>
            <h2 id="question"></h2>
            <div class="option" id="option0" onclick="select(this)">
                <input type="radio" name="answer" value="0" onchange="next()">
                <div class="content centered">
                </div>
                <br>
            </div>
            <div class="option" id="option1" onclick="select(this)">
                <input type="radio" name="answer" value="1" onchange="next()">
                <div class="content centered">
                </div>
                <br>
            </div>
            <div class="option" id="option2" onclick="select(this)">
                <input type="radio" name="answer" value="2" onchange="next()">
                <div class="content centered">
                </div>
                <br>
            </div>
            <div class="option" id="option3" onclick="select(this)">
                <input type="radio" name="answer" value="3" onchange="next()">
                <div class="content centered">
                </div>
                <br>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
<script>
// constant to store all the questions and answers
const questions = {
  question0: {
    question: "You grow up in an orphanage in a hostile environment and are not accepted by the people around you what do you do?",
    option0: {
      type: "string",
      content:
        "Not everyone is like that and life without having people to rely is nothing",
      personality: "Voldemort",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "I guess there will be some other people but it’s gonna be hard trusting people",
      personality: "Voldemort",
      points: 0.75
    },
    option2: {
      type: "string",
      content:
        "Develop trust issues and rarely trust anyone",
      personality: "Voldemort",
      points: 0.5
    },
    option3: {
      type: "string",
      content:
        "I do not even need anyone I can do everything by myself",
      personality: "Voldemort",
      points: 0.25
    }
  },
  question1: {
    question: "You are very close to achieving your goal and everything is going according to the plan but just as you think it’s done an enemy ruins your whole plan. What do you do?",
    option0: {
      type: "string",
      content: "This is only a slight hiccup I will rise again and achieve my goals by being patient and waiting for the right time",
      personality: "Voldemort",
      points: 1
    },
    option1: {
      type: "string",
      content: "Damn it this ruins everything. I will try to rise again tho",
      personality: "Voldemort",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "I have no strength to try anymore",
      personality: "Voldemort",
      points: 0.5
    },
    option3: {
      type: "string",
      content: "I have tried enough maybe this is not for me I’ll just starting Arts at UOA",
      personality: "Voldemort",
      points: 0.25
    }
  },
  question2: {
    question: "Please put a generic question here and I will think of one after",
    option0: {
      type: "string",
      content: "Sneakers",
      personality: "Voldemort",
      points: 1
    },
    option1: {
      type: "string",
      content: "Earphones and a charger",
      personality: "Voldemort",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "A book",
      personality: "Voldemort",
      points: 0.5
    },
    option3: {
      type: "string",
      content: "A camera",
      personality: "Voldemort",
      points: 0.25
    }
  },
  //Elon
  question3: {
    question:
      "You believe that a greener future is possible but everyone is against you and think your ideas are not achievable. What do you do?",
    option0: {
      type: "string",
      content:
        "Keep going with them since in your mind you have a clear vision",
      personality: "Elon",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "Maybe they are right I will try a bit more tho.",
      personality: "Elon",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "They seem right maybe I should change my view ",
      personality: "Elon",
      points: 0.50
    },
    option3: {
      type: "string",
      content:
        "Change your goals to something that people around you approve of ",
      personality: "Elon",
      points: 0.25
    }
  },
  question4: {
    question:
      "You are on the verge of going bankrupt and after a few good years. What do you do?",
    option0: {
      type: "string",
      content: "This is not a defeat  I will come back from this but pursuing my ideas and making the needed changes",
      personality: "Elon",
      points: 1
    },
    option1: {
      type: "string",
      content: "This is quite hard but I will try to come back from this ",
      personality: "Elon",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "I might be better off going bankrupt and using the lessons in other areas",
      personality: "Elon",
      points: 0.50
    },
    option3: {
      type: "string",
      content: "Maybe I should think of a different career",
      personality: "Elon",
      points: 0.25
    }
  },
  question5: {
    question:
      "How do you achieve success in times of crisis?",
    option0: {
      type: "string",
      content:
        "Keep going with them since in your mind you have a clear vision",
      personality: "Elon",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "Maybe they are right I will try a bit more tho.",
      personality: "Elon",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "They seem right maybe I should change my view ",
      personality: "Elon",
      points: 0.5
    },
    option3: {
      type: "string",
      content:
        "Change your goals to something that people around you approve of ",
      personality: "Elon",
      points: 0.25
    }
  },

  //Joan
   question6: {
    question:
      "You suddenly start hearing voices as a teenger. What do you do?",
    option0: {
      type: "string",
      content:
        "Embrace them and listen to them they might be a word of god ",
      personality: "Joan",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "They’re annoying but I will see what they say",
      personality: "Joan",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "I might wanna go to the therapist ",
      personality: "Joan",
      points: 0.50
    },
    option3: {
      type: "string",
      content:
        "I am defo crazy ",
      personality: "Joan",
      points: 0.25
    }
  },
   question7: {
    question:
      "You have big plans for the future but they are abruptly stopped when you are forced to marry at a very young age. How do you deal with this?",
    option0: {
      type: "string",
      content:
        "Not accept this forced upon you and do anything to stop it ",
      personality: "Joan",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "I guess I have to do it maybe I can think of a solution later ",
      personality: "Joan",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "I dont really want to but do not seem to have a choice ",
      personality: "Joan",
      points: 0.5
    },
    option3: {
      type: "string",
      content:
        "Might as well. It might be a nice experience ",
      personality: "Joan",
      points: 0.25
    }
  },
   question8: {
    question:
      "You are prisoned for your beliefs but can easily be freed if you lie to them and deny your beliefs:",
    option0: {
      type: "string",
      content:
        "There is no way I would deny anything I believe in ",
      personality: "Joan",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "I don’t think I should deny my beliefs even if it frees me",
      personality: "Joan",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "Maybe I should just lie and get out",
      personality: "Joan",
      points: 0.5
    },
    option3: {
      type: "string",
      content:
        "I will lie who cares what they think  ",
      personality: "Joan",
      points: 0.25
    }
  },

   //Iman
   question9: {
    question:
      "You have been in uni all night finishing an assignment and it is 9 am. You are so tired you can barely function but you have work in 20 minutes. What do you do?",
    option0: {
      type: "string",
      content:
        "Suck it up and go to work ",
      personality: "Iman",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "Even though it is hard I will try and push through and see what happens ",
      personality: "Iman",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "Maybe I should call and tell my manager and see if I can go in later",
      personality: "Iman",
      points: 0.5
    },
    option3: {
      type: "string",
      content:
        "Pull a sickie for sure ",
      personality: "Iman",
      points: 0.25
    }
  },
   question10: {
    question:
      "Working 50 hours a week and overloading in uni is taking its toll on you, do you :",
    option0: {
      type: "string",
      content:
        "With proper time management and knowing my goals I can achieve anything ",
      personality: "Iman",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "I’m a bit doubtful but I guess I will have to try  ",
      personality: "Iman",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "It might be better if I don’t put so much pressure on myself ",
      personality: "Iman",
      points: 0.5
    },
    option3: {
      type: "string",
      content:
        "Work less and reduce the load ",
      personality: "Iman",
      points: 0.25
    }
  },
   question11: {
    question:
      "It is an exam day and you missed your alarm. You get yourself to your math exam and realise you forgot your calculator. What do you do?",
    option0: {
      type: "string",
      content:
        "Adapt and improvise. Write the formula for questions and explain your situation in the end of the paper ",
      personality: "Iman",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "I will only answer the questions that do not require complicated calculations ",
      personality: "Iman",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "I should talk to one of the invigilators ",
      personality: "Iman",
      points: 0.5
    },
    option3: {
      type: "string",
      content:
        "If you cry enough surely you can get a sup ",
      personality: "Iman",
      points: 0.25
    }
  },
};

// constant to store the description for each type of traveller
const result = {
  Voldemort: [
    "You are Voldemort"
  ],
  Elon: [
    "You are Elon!"
  ],
  Joan: [
    "You are Joan!" 
  ],
  Iman: [
    "You are Iman!"
  ]
};

// for keeping track of the score
var score = {
  Voldemort: 0,
  Elon: 0,
  Joan: 0,
  Iman: 0
};

// for keep track of the current question
var currentQn = 0;

// for setting up each of the questions
function setupQuestion() {
  // find out the current percentage of completion and updates the css
  var progress = 5 + currentQn * 9;
  var progressbar = document.getElementById("progress");
  progressbar.style.width = progress + "%";
  progressbar.innerText = currentQn + 1 + "/12";

  // get the current questions content
  var qn = questions["question" + currentQn];
  var qnText = document.getElementById("question");
  qnText.innerText = qn.question;

  // updates each of the options for the current question
  for (var i = 0; i < 4; i++) {
    var option = document.getElementById("option" + i);
    var content = option.getElementsByClassName("content")[0];
    var qnOption = qn["option" + i];
    var htmlStr = "<p>" + qnOption.content + "</p>";
    content.innerHTML = htmlStr;
  }
}

// to unselect all of the options
function resetOptions() 
{
  var btn = document.getElementsByTagName("input");
  btn[0].checked = false;
  btn[1].checked = false;
  btn[2].checked = false;
  btn[3].checked = false;
}

// to select the option that is clicked
function select(element) {
  var btn = element.getElementsByTagName("input")[0];
  btn.checked = true;
  next();
}

var score = {
  Voldemort: 0,
  Elon: 0,
  Joan: 0,
  Iman: 0
};

// get the next questions, or display result if all questions were answered
function next() {
  // get the current select option
  var ans = $("input[name=answer]:checked").val();
  var qn = questions["question" + currentQn];
  // get the personality type for the option selected
  var personality = qn["option" + ans].personality;
  var score2 = qn["option" + ans].points;
  // increase the score of the personality by one
  //Adding points to the specifc personality 
  if(personality == "Voldemort")
  {
    score["Voldemort"]+= score2;
  }
  else if(personality == "Elon")
  {
    score["Elon"] += score2;
  }
  else if(personality == "Joan")
  {
    score["Joan"] += score2;
  }
  else
  {
    score["Iman"] += score2;
  }
  //score[personality]+=points;
  // increase the question count by 1
  currentQn = currentQn + 1;
  // unselect all options
  resetOptions();
  // check if quiz is completed
  if (currentQn < 12) {
    // if quiz not completed, setup the next question
    setupQuestion();
  } else {
    // else quiz is completed
    // assume that the highest score is the adventurous personality
    // and go through each of the personality type, and update the highest score and personality
    var highestScore = score["Voldemort"];
    var highestPersonality = "Voldemort";
    if (highestScore < score["Elon"]) {
      highestScore = score["Elon"];
      highestPersonality = "Elon";
    }
    if (highestScore < score["Joan"]) {
      highestScore = score["Joan"];
      highestPersonality = "Joan";
    }
    if (highestScore < score["Iman"]) {
      highestScore = score["Iman"];
      highestPersonality = "Iman";
    }
    
    // get the description of the personality and update the result page
    var personalityResult = result[highestPersonality];
    document.getElementById("personality-type").innerText = "Resilient Character : "
      + highestPersonality;
    document.getElementById("personality-part-1").innerText =
      personalityResult[0];
    if(highestPersonality == "Voldemort")
    {
      document.getElementById("personality-part-2").innerHTML =
      "<img src=\"https://images.ctfassets.net/usf1vwtuqyxm/k9cUTlSo5amsyEqcwWyck/4085ca15556871bc213cda91b366176a/Voldemort_WB_F5_VoldemortLookingUpCloseUp_Still_080615_Land.jpg\" width=\"300px\" height=\"300px\">"
    }
    else if(highestPersonality == "Elon")
    {
        document.getElementById("personality-part-2").innerHTML =
      "<img src=\"https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2019/12/0/0/Elon-Musk-AP.jpg?ve=1&tl=1\" width=\"300px\" height=\"300px\">"
    }
    else if(highestPersonality == "Joan")
    {
      document.getElementById("personality-part-2").innerHTML =
    "<img src=\"https://i.etsystatic.com/5436622/r/il/3c4b01/1715987561/il_570xN.1715987561_dz31.jpg\" width=\"300px\" height=\"300px\">"

    }
    else
    {
      document.getElementById("personality-part-2").innerHTML =
      personalityResult[0];

    }
    // set question count to 0 so that when the user wishes to retry, the quiz is on the right question count
    currentQn = 0;
    showPage(1);
  }
}

// bringing relevant page into view 
// page 0: Starting quiz of page
// page 1: Results page 
// page 2: quiz
function showPage(num) {
  var pages = document.getElementsByClassName("container");
  pages[0].style.display = "none";
  pages[1].style.display = "none";
  pages[2].style.display = "none";
  pages[num].style.display = "block";
}

  </script>

</html>