<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

h2,
#progress-bar #progress,
label,
p,
h1  {
    font-family: 'arial';
    color: white;
}

.fullpage {
    height: 120vh;
    width: 100vw;
    font-family: 'arial';
    color: white;
    font-size: smaller;
}

.black-bg 
{
    background-color: white;
}

.centered 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container 
{
    height: 108vh;
    width: 75vw;
    max-width: 90%;
    padding: 10px;
    background-color: black;
}

.containervideo
{
  vertical-align: center;
  text-align:center;
  height:100%;
  width:100%;
}

.container2
{
    vertical-align: center;
    height: 100%;
    width: 100%;
}

#questionaire-title 
{
    margin-top: 20vh;
    margin-bottom: 15vh;
    text-align: center;
}

.text
{
  text-align: center;
}

.hidden 
{
    display: none;
}

.button 
{
    cursor: pointer;
    padding: 0px 20px;
    border: 2px solid cyan;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}

.button2 
{
    cursor: pointer;
    margin-left: 66%;
    padding: 0.5% 2.5%;
    border: 2px solid cyan;
    border-radius: 5px;
    text-align: center;
    width: 10%;
    
}

.button3
{
    cursor: pointer;
    margin-left: 5%;
    border: 2px solid cyan;
    border-radius: 5px;
    text-align: center;
    width: 20%;
    color: white;
    text-decoration: none;
    padding: 2.5% 3%;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 65px;

}

.button:hover 
{
    background-color: rgba(255,255,255,0.1);
}

.button2:hover 
{
    background-color: rgba(255,255,255,0.1);
}

.button3:hover 
{
    background-color: rgba(255,255,255,0.1);
}

#progress-bar 
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

#progress 
{
    width: 20%;
    text-align: right;
    border-bottom: 2px solid cyan;
    margin-bottom: -2px;
}

.option 
{
    display: flex;
    align-items: center;
    height: 18%;
    margin-top: 6px;
    padding: 2px;
}

.option:hover 
{
    background-color: rgba(255,255,255,0.1);
}

.content 
{
    margin-left: 10px;
    height: 100%;
}




  </style>
</head>

<body>

<div class="fullpage black-bg centered">
        <div class="container start">
            <h1 id="questionaire-title">Find out who you are based on your resilience!</h1>
            <div class="centered">
                <div class="button" onclick="showPage(2); setupQuestion();">
                    <p>Begin Quiz</p>
                </div>
            </div>
        </div>
        <div class="container hidden">
            <h1 id="personality-type"></h1>
            <p id="personality-part-1"></p>
            <p id="personality-part-2"></p>
            <p id="personality-recommended"></p>
            <br>
            <div class="centered">
                <div class="button2" onclick="showPage(0); setupQuestion();">
                    <p>Restart</p>
                </div>

            </div>
        </div>
        <div class="container hidden">
            <div id="progress-bar">
                <div id="progress">1/5</div>
            </div>
            <h2 id="question"></h2>
            <div class="option" id="option0" onclick="select(this)">
                <input type="radio" name="answer" value="0" onchange="next()">
                <div class="content centered">
                </div>
                <br>
            </div>
            <div class="option" id="option1" onclick="select(this)">
                <input type="radio" name="answer" value="1" onchange="next()">
                <div class="content centered">
                </div>
                <br>
            </div>
            <div class="option" id="option2" onclick="select(this)">
                <input type="radio" name="answer" value="2" onchange="next()">
                <div class="content centered">
                </div>
                <br>
            </div>
            <div class="option" id="option3" onclick="select(this)">
                <input type="radio" name="answer" value="3" onchange="next()">
                <div class="content centered">
                </div>
                <br>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
<script>
//Questions and Answers for the Quiz
const questions = {
  question0: {
    question: "You grow up in an orphanage in a hostile environment and are not accepted by the people around you. What is your attitude?",
    option0: {
      type: "string",
      content:
        "I will work hard to be better than everyone and one day they will regret treating me this way.",
      personality: "Voldemort",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "Not everyone will be like this. I just have to work hard and be kind to others so they are kind to me",
      personality: "Voldemort",
      points: 0.25
    },
    option2: {
      type: "string",
      content:
        "Maybe I’m not accepted because there’s something wrong with me. Maybe I need to change who I am",
      personality: "Voldemort",
      points: 0.5
    },
    option3: {
      type: "string",
      content:
        "Some people are just mean and you need to protect yourself from them",
      personality: "Voldemort",
      points: 0.75
    }
  },
  question1: {
    question: "You are very close to achieving your goal and everything is going according to plan. Just as you are about to succeed, an enemy ruins everything. What do you do?",
    option0: {
      type: "string",
      content: "Ask my enemy to be nicer to me! Maybe they’ll understand if I talk to them!",
      personality: "Voldemort",
      points: 0.25
    },
    option1: {
      type: "string",
      content: "This ruins everything! I’m going to give up",
      personality: "Voldemort",
      points: 0.5
    },
    option2: {
      type: "string",
      content: "Maybe I should try to achieve my goal even though my resources have been depleted, fingers crossed!",
      personality: "Voldemort",
      points: 0.75
    },
    option3: {
      type: "string",
      content: "I will rise again and achieve my goals by being patient, regrouping and waiting for the right time.",
      personality: "Voldemort",
      points: 1
    }
  },
  question2: {
    question: "For a second time, your enemy defeats you. What do you do?",
    option0: {
      type: "string",
      content: "That’s it! I quit! Failing twice is just too embarrassing!",
      personality: "Voldemort",
      points: 0.5
    },
    option1: {
      type: "string",
      content: "Maybe I should stop fighting my enemy and join their side. If they keep winning maybe they are right.",
      personality: "Voldemort",
      points: 0.25
    },
    option2: {
      type: "string",
      content: "It’s okay. Maybe I can’t do this alone. I should ask for help from my friends.",
      personality: "Voldemort",
      points: 1
    },
    option3: {
      type: "string",
      content: "I’ll try defeating them again the same way. I don’t need help.",
      personality: "Voldemort",
      points: 0.75
    }
  },
  //Elon
  question3: {
    question:
      "You believe in a greener future but everyone is against you and they don’t think your ideas are achievable. What do you do?",
    option0: {
      type: "string",
      content:
        "Keep going with these ideas! You have a clear vision and know they are achievable!",
      personality: "Elon",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "Everyone disagrees with me... I should change my ideas to make them more appealing.",
      personality: "Elon",
      points: 0.5
    },
    option2: {
      type: "string",
      content: "Maybe I should tone it down a bit but still aim for the same outcomes.",
      personality: "Elon",
      points: 0.75
    },
    option3: {
      type: "string",
      content:
        "Everyone disagrees with me... I should change my world view to match theirs because that’s easier.",
      personality: "Elon",
      points: 0.25
    }
  },
  question4: {
    question:
      "You try something daring and fail instantly and publicly. What do you do?",
    option0: {
      type: "string",
      content: "Ignore the haters and try again instantly! I can do this because I believe it is the right thing to do!",
      personality: "Elon",
      points: 0.75
    },
    option1: {
      type: "string",
      content: "That’s embarrassing! I’m going to direct my efforts elsewhere.",
      personality: "Elon",
      points: 0.25
    },
    option2: {
      type: "string",
      content: "Use this as a lesson and spend some time refining my work to ensure that this failure doesn’t happen again!",
      personality: "Elon",
      points: 1
    },
    option3: {
      type: "string",
      content: "Use the failure as a publicity stunt! Any publicity is good publicity. It might help you get more funding for your work!",
      personality: "Elon",
      points: 0.5
    }
  },
  question5: {
    question:
      "After a few good years of business success, you are suddenly on the verge of going bankrupt. What do you do?",
    option0: {
      type: "string",
      content:
        "Maybe I should think of working in a different career.",
      personality: "Elon",
      points: 0.25
    },
    option1: {
      type: "string",
      content:
        "This is quite hard but I will try to come back from this by being passionate.",
      personality: "Elon",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "I might be better off going bankrupt and using this as a lesson.",
      personality: "Elon",
      points: 0.5
    },
    option3: {
      type: "string",
      content:
        "This is not a defeat. I just need to work harder and put in more effort. I will come back from this by pursuing my ideas and making the necessary changes.",
      personality: "Elon",
      points: 1
    }
  },

  //Joan
   question6: {
    question:
      "You suddenly start hearing voices as a teenager. What do you do?",
    option0: {
      type: "string",
      content:
        "I am going insane and should get some sort of help to get rid of them!",
      personality: "Joan",
      points: 0.25
    },
    option1: {
      type: "string",
      content:
        "They’re annoying but I will see what they say.",
      personality: "Joan",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "Maybe it’s God? I should listen and see what He says!",
      personality: "Joan",
      points: 1
    },
    option3: {
      type: "string",
      content:
        "I think I should block them out and just live a normal life",
      personality: "Joan",
      points: 0.5
    }
  },
   question7: {
    question:
      "You have big plans for the future but they are abruptly stopped when your family force you to marry at a very young age. How do you deal with this?",
    option0: {
      type: "string",
      content:
        "I won’t accept this! I refuse to have this forced upon me and will do anything to stop it!",
      personality: "Joan",
      points: 0.75
    },
    option1: {
      type: "string",
      content:
        "I guess I have to do it now and maybe I can think of a solution later to get out of this.",
      personality: "Joan",
      points: 0.5
    },
    option2: {
      type: "string",
      content: "I refuse to do this! But I don’t want my family to cast me out. Maybe there’s a way I can think through this and convince them that I can’t.",
      personality: "Joan",
      points: 1
    },
    option3: {
      type: "string",
      content:
        "I guess I have to do what they say. My family will be proud of me!",
      personality: "Joan",
      points: 0.25
    }
  },
   question8: {
    question:
      "You are imprisoned for your beliefs but can easily be freed if you change your ways and deny your beliefs. What do you do?",
    option0: {
      type: "string",
      content:
        "There is no way I would deny anything I believe in!",
      personality: "Joan",
      points: 1
    },
    option1: {
      type: "string",
      content:
        "I don’t think I should deny my beliefs. Maybe I can try to convince my captors that my beliefs are right!",
      personality: "Joan",
      points: 0.75
    },
    option2: {
      type: "string",
      content: "Maybe I should just lie and say I deny my beliefs!",
      personality: "Joan",
      points: 0.5
    },
    option3: {
      type: "string",
      content:
        "I’ll believe whatever you want me to! Just let me go!",
      personality: "Joan",
      points: 0.25
    }
  },

};

// constant to store the description for each type of traveller
const result = {
  Voldemort: [
    "Click below to view your personality!" 
  ],
  Elon: [
    "Click below to view your personality!" 
  ],
  Joan: [
    "Click below to view your personality!" 
  ],
};

// for keeping track of the score
var score = {
  Voldemort: 0,
  Elon: 0,
  Joan: 0,
};

// for keep track of the current question
var currentQn = 0;

// for setting up each of the questions
function setupQuestion() {
  // find out the current percentage of completion and updates the css
  var progress = 5 + currentQn * 12;
  var progressbar = document.getElementById("progress");
  progressbar.style.width = progress + "%";
  progressbar.innerText = currentQn + 1 + "/9";

  // get the current questions content
  var qn = questions["question" + currentQn];
  var qnText = document.getElementById("question");
  qnText.innerText = qn.question;

  // updates each of the options for the current question
  for (var i = 0; i < 4; i++) {
    var option = document.getElementById("option" + i);
    var content = option.getElementsByClassName("content")[0];
    var qnOption = qn["option" + i];
    var htmlStr = "<p>" + qnOption.content + "</p>";
    content.innerHTML = htmlStr;
  }
}

// to unselect all of the options
function resetOptions() 
{
  var btn = document.getElementsByTagName("input");
  btn[0].checked = false;
  btn[1].checked = false;
  btn[2].checked = false;
  btn[3].checked = false;
}

// to select the option that is clicked
function select(element) {
  var btn = element.getElementsByTagName("input")[0];
  btn.checked = true;
  next();
}

var score = {
  Voldemort: 0,
  Elon: 0,
  Joan: 0,
};

// get the next questions, or display result if all questions were answered
function next() {
  // get the current select option
  var ans = $("input[name=answer]:checked").val();
  var qn = questions["question" + currentQn];
  // get the personality type for the option selected
  var personality = qn["option" + ans].personality;
  var score2 = qn["option" + ans].points;
  // increase the score of the personality by one
  //Adding points to the specifc personality 
  if(personality == "Voldemort")
  {
    score["Voldemort"]+= score2;
  }
  else if(personality == "Elon")
  {
    score["Elon"] += score2;
  }
  else if(personality == "Joan")
  {
    score["Joan"] += score2;
  }
  //score[personality]+=points;
  // increase the question count by 1
  currentQn = currentQn + 1;
  // unselect all options
  resetOptions();
  // check if quiz is completed
  if (currentQn < 9) {
    // if quiz not completed, setup the next question
    setupQuestion();
  } else {
    // else quiz is completed
    // assume that the highest score is the adventurous personality
    // and go through each of the personality type, and update the highest score and personality
    var highestScore = score["Voldemort"];
    var highestPersonality = "Voldemort";
    if (highestScore < score["Elon"]) {
      highestScore = score["Elon"];
      highestPersonality = "Elon";
    }
    if (highestScore < score["Joan"]) {
      highestScore = score["Joan"];
      highestPersonality = "Joan";
    }
    
    // get the description of the personality and update the result page
    var personalityResult = result[highestPersonality];
    document.getElementById("personality-type").innerText = "Click below to view your personality! "  ;
    
    if(highestPersonality == "Voldemort")
    {document.getElementById("personality-part-2").innerHTML = 
     "<br><br><div class=\"containervideo\"><iframe width=\"75%\" height=\"400\" src=\"https://www.youtube.com/embed/yi3UsKA5KCY\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\"></iframe></div><br><a class=\"button3\" href=\"/videos\">Click here to view other characters</a>"
    }
    else if(highestPersonality == "Elon")
    { document.getElementById("personality-part-2").innerHTML = 
      "<br><br><div class=\"containervideo\"><iframe width=\"75%\" height=\"400\" src=\"https://www.youtube.com/embed/dyPyM6UeLkQ\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\"></iframe></div><br><a class=\"button3\" href=\"/videos\">Click here to view other characters</a>"
    }
    else if(highestPersonality == "Joan")
    {
     document.getElementById("personality-part-2").innerHTML = 
    "<br><br><div class=\"containervideo\"><iframe width=\"75%\" height=\"400\" src=\"https://www.youtube.com/embed/LsqzAKyBJsA\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\"></iframe></div><br><a class=\"button3\" href=\"/videos\">Click here to view other characters</a>"
    }
    // set question count to 0 so that when the user wishes to retry, the quiz is on the right question count
    currentQn = 0;
    showPage(1);
  }
}

// bringing relevant page into view 
// page 0: Starting quiz of page
// page 1: Results page 
// page 2: quiz
function showPage(num) {
  var pages = document.getElementsByClassName("container");
  pages[0].style.display = "none";
  pages[1].style.display = "none";
  pages[2].style.display = "none";
  pages[num].style.display = "block";
}

  </script>
<footer>
    <p style="text-align:center">Engineering Management Group 02</p>
</footer>
</html>