<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .container 
  {
    text-align:center;
    vertical-align: center;
    height: 100%;
    width: 100%;
    
  }
  h1
  {
  	text-align:center;
  }

  p
  {
    font-family: Palatino, serif;
    text-align:center;
  }
   .references p
  {
    text-align:left;
    vertical-align:left;
    font-size:smaller;
  }
  </style>
 
</head>

<body>
<h1> Reference List</h1>

<div class="references">
<ol>
<p><b>Technical Resilience References </b></p> <br>

<p>Doorley, S, Holcomb, S, Klebahn, P, Segovia, K & Utley J 2018, Design Thinking Bootleg, Stanford School of Design Thinking, viewed 3 April 2020, <https://dschool.stanford.edu/resources/design-thinking-bootleg>.  </p>

<br>

<p>Economic and Social Research Council Priority Network on Capability and Resilience 2006, Capability and Resilience: Beating the Odds,  viewed 30 March 2020, <https://www.ucl.ac.uk/capabilityandresilience/beatingtheoddsbook.pdf>
</p>
<br>

<p>Epstein, RM, Krasner, MS 2013, ‘Physician Resilience: what it means, why it matters, and how to promote it’, Academic Medicine, vol. 88, no.3, pp. 301-3.
</p>
<br>

<p>Gill, C 2016, The link between confidence and resilience, ParagonInc, viewed 2 April 2020, <https://wecreatesuperheroes.com.au/2016/01/19/the-link-between-confidence-and-resilience/>.</p>
<br>


<p>Hames, JL & Joiner, TE 2012, ‘Resiliency Factors May Differ as a Function of Self-Esteem Levels: Testing the Efficacy of Two Types of Positive Self-Statements Following a Laboratory Stressor’, Journal of Social and Clinical Psychology, vol. 31, no. 6, pp. 641-62.
</p>
<br>

<p>HealthDirect 2019, Building Resilience, HealthDirect, viewed 10 March 2020,  <https://www.healthdirect.gov.au/resilience>.
</p>
<br>

<p>Johnson, Z, Ferrell, J, Russell, L & Wong KL 2020, Pop Out: Design for a Resilient Mind, viewed 3 April 2020, <https://dschool.stanford.edu/classes/pop-out-design-for-a-resilient-mind></p> 
<br>

<p>Joseph, JM 2001, ‘Resilient Child: Preparing Today’s Youth for Tomorrow’s World’, Perseus Books, Cambridge, United States of America.</p>
<br>

<p>Loprinzi, CE, Prasad, K, Schroeder, DR & Sood, A 2011, ‘Stress Management and Resilience Training (SMART) Program to Decrease Stress and Enhance Resilience Among Breast Cancer Survivors: A Pilot Randomized Clinical Trial’, Clinical Breast Cancer, vol. 11, no. 6, pp. 364-8.
</p>
<br>

<p>Power, R 2015, 3 Reasons Believing in Yourself Is the First Step to Success, Inc, viewed 9 April 2020, <https://www.inc.com/rhett-power/3-reasons-why-believing-in-yourself-is-the-first-step-to-success.html></p>
<br>

<p>Ruth, M & Goessling-Reisemann, S 2019, Handbook on Resilience of Socio-Technical Systems, Elgar, Cheltenham, UK.</p>

<br>
<p>Sood, A, Prasad, K, Schroeder, D & Varkey P 2011, ‘Stress Management and Resilience Training Among Department of Medicine Faculty: A Pilot Randomized Clinical Trial’, Journal of General Internal Medicine, vol. 26, no. 8, pp. 858-61. </p>

<br>
<p>Stevenson, JR & Conradson D 2017, ‘Chapter 11 - Organizational Support Networks and Relational Resilience After the 2010/11 Earthquakes in Canterbury, New Zealand’, in Jones, EC & Faas AS (eds), Social Network Analysis of Disaster Response, Recovery, and Adaptation, Butterworth-Heinemann, pp. 161-75. </p> 

<br>
<p>Wong, P & Liamputtong, P 2018, ‘The Impact of Social Support Networks on Family Resilience in an Australian Intensive Care Unit: A Constructivist Grounded Theory’, Journal of Nursing Scholarship, vol. 51, no. 1, pp. 68-80.</p>

<br>
<p>World Health Organisation 2017, Strengthening resilience: a priority shared by Health 2020 and the Sustainable Development Goals, viewed 1 April 2020, (http://www.euro.who.int/__data/assets/pdf_file/0005/351284/resilience-report-20171004-h1635.pdf). </p>

<br>

<p><b>Character References</b> </p> <br>

<p>Clifford, C 2018, Elon Musk on working 120 hours in a week: ‘However hard it was for [the team], I would make it worse for me’, CNBC, viewed 20 March 2020, <https://www.cnbc.com/2018/12/10/elon-musk-says-working-120-hours-in-a-week-was-a-show-of-leadership.html?fbclid=IwAR22jOPHu-LASYL8Vz3mZLUG1wjlAwGTrVu-y9u2w1RYJEcQa5nT38Yq7mE>. 
</p> 
<br>


<p>French, S 2017, The many failures of Elon Musk, captured in one giant infographic, MarketWatch, viewed 20 March 2020, <https://www.marketwatch.com/story/the-many-failures-of-elon-musk-captured-in-one-giant-infographic-2017-05-24?fbclid=IwAR3JPT6j76RRLVngtYm2FqEd9kT4zub4wACGT93d6OLdSEakeq9WYaDAJD4>. 
</p> 
<br>


<p>Marcus Aurelius, The Meditations, trans. G Long, Classics MIT, viewed 18 March 2020, <http://classics.mit.edu/Antoninus/meditations.html>.

</p> 
<br>


<p>Onion, A, Sullivan, M & Mullen, M 2020, Joan of Arc, History.com, viewed 10 March 2020, <https://www.history.com/topics/middle-ages/saint-joan-of-arc?fbclid=IwAR2glvbSbNTweCBEYZkjP1S_HbIVlk5e5whhqFqFYVr83CXPuIsWpeN6xKM>. 
</p> 
<br>

<p>Rowling, JK 1997 - 2007, Harry Potter, book series, Bloomsbury Publishing, United Kingdom. 
</p> 
<br>

<p>Unknown Author, The Ballard of Mulan, trans. J Yuan, Wikisource 2020, viewed 24 March 2020, <https://en.wikisource.org/wiki/Translation:Ballad_of_Mulan?fbclid=IwAR2LqtuM3lUQcwZPjDtlRfjQwz_eXn5x9g_qlr-0EAO0kiY5dPjGCyEBkN4>.  
</p> 
<br>




</ol>

</div>
 
</body>
</html>