<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .container 
  {
    text-align:center;
    vertical-align: center;
    height: 100%;
    width: 100%;
    
  }
  h1
  {
  	text-align:center;
  }

  p
  {
    font-family: Palatino, serif;
    text-align:center;
  }
  </style>
 
</head>

<body>
<h1> Videos </h1>
<div class="container-fluid bg-3 text-center">
<p> Elon Musk </p>
<div class="container">
<%= video_tag("Elon.mp4", controls: true, width: '70%', height: '50%')%>
</div>
<p> Voldemort </p>
<div class="container">
<p> HELLO </p>
<%= video_tag("Vold.mp4", controls: true, width: '70%', height: '50%')%>
</div>
<p> Joan of Arc </p>
<div class="container">

</div>

</div>
 
</body>
</html>