<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .container 
  {
    text-align:center;
    vertical-align: center;
    height: 100%;
    width: 60%;
    margin-left:20%;
    
  }
  .container2 
  {
    text-align:center;
    vertical-align: center;
    height: 50%;
    width: 60%;
    margin-left:20%;
    
  }
  h1
  {
  	text-align:center;
  }

  p
  {
    font-family: Palatino, serif;
    text-align:center;
  }
  </style>
 
</head>

<body>
<h1> Character videos!</h1>
<div class="container-fluid bg-3 text-center">
<p> Elon Musk </p>
<div class="container2">
<iframe width="100%" height="400" src="https://www.youtube.com/embed/dyPyM6UeLkQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture?rel=0"></iframe>
</div>
<p> Voldemort </p>
<div class="container">
<iframe width="100%" height="400" src="https://www.youtube.com/embed/LVM1yz7aTak" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture?rel=0"></iframe>
</div>
<p> Joan of Arc </p>
<div class="container">
<iframe width="100%" height="400" src="https://www.youtube.com/embed/EkAUfX0p6jE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture?rel=0"></iframe>
</div>

</div>
 
</body>
</html>