<!DOCTYPE html>
<html lang="en">
<head>
  <title>Resilience Application </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style> 
  h1
  {
    font-family: Palatino, serif;
    text-align: center;
  }
  .nav
  {
    font-family: Andale Mono, monospace;
    background-color: black;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
  }
  .nav li
  {
    display:inline;
  }
  .nav a
  {
    display:inline-block;
    color: white;
    padding:10px;
  }
  </style>     
</head>

<body>
  <ul class ="nav" style="text-align:center">
    <li><a class="active" href="/welcome">Home</a></li>
    <li><a href="/quizzes">Quizzes</a></li>
    <li><a href="/podcasts">Podcasts</a></li>
    <li><a href="/bookreview">Book Review</a></li><li><a href="/poems">Poems</a></li>
  </ul>
    <%= yield %>
    <footer>
      <p>Engineering Management Group 02</p>
    </footer>
</body>
</html>
